<div style="max-width: 1100px; margin: 0 auto; padding: 16px;">
  <header style="display:flex; justify-content:space-between; align-items:center; gap:16px;">
    <h1>Naleesha</h1>
    <nav style="display:flex; gap:12px; align-items:center;">
      <a routerLink="/facilities">Facilities</a>      
      <a routerLink="/resources">Resources</a>
      <a routerLink="/bookings">My Bookings</a>
      <a routerLink="/tickets">My Tickets</a>
      <a routerLink="/login">Login</a>
      <a routerLink="/test">t</a>
    </nav>
  </header>

  <hr />
  <router-outlet></router-outlet>
</div>